.container {
    display: flex;
    align-items: center;
    color: #121417;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.logoText {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}